{
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "semi": true,
    "phpVersion": "8.0",
    "braceStyle": "1tbs",
    "endOfLine": "lf"
}